/*water-green

$color-primary: #dbfbed;
$color-secondary: #046865;
$color-secondary-hover: #21a0a0;
$color-third: #214540;
$color-white: #fff;
$color-text: rgb(15, 15, 15); */


/*petrolio

$color-primary: #f3f7f6;
$color-secondary: #354f52;
$color-secondary-hover: #52796f;
$color-third: #2f3e46;
$color-white: #fff;
$color-text: rgb(15, 15, 15);*/


/*salvia

$color-primary: #f4f6f4;
$color-secondary: #73877b;
$color-secondary-hover: #839788;
$color-third: #38433a;
$color-white: #fff;
$color-text: rgb(15, 15, 15);*/


/*blu*/

$color-primary: #fef6e4;
$color-secondary: #172c66;
$color-secondary-hover: #001858;
$color-third: #001858;
$color-white: #fff;
$color-text: rgb(15, 15, 15);


/*blu - rosa

$color-primary: #fec7d7;
$color-secondary: #3f61af;
$color-secondary-hover: #507bdd;
$color-third: #17274b;
$color-white: #fff;
$color-text: rgb(15, 15, 15);*/