/* ! Hero */
.hero{
    height: 95vh;
    width: 100vw;
    z-index: 0;
    max-height: 1080px;
}
.hero__video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-width: 100%;
    height:95vh;
    overflow:hidden;
    object-fit: cover;
    filter: brightness(0.8);
}
.hero__content{
    max-width: 1140px;
    margin: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero__text{
    max-width: 744px;
    color: $color-primary;
    z-index: 1;
    padding: 12px;
    margin-top: 20%;
}
.bottoni{
    max-width: 372px;
    display: flex;
    flex-direction: column;
    margin-top: 71vh;
    z-index: 10;
}
.btn{
    cursor: pointer;
    background-color: $color-secondary;
    border: $color-primary solid 2px;
    border-radius: 5px;
    padding: auto;
    flex-grow: 1;
    margin: 12px;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 2;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
	transition: ease-in-out;
    transition-duration: 0.4s;
    min-width: 100%;
    min-height: 75px;
}
.btn:hover {
    background-color: $color-primary;
    border: $color-secondary solid 2px;
    color: $color-secondary;
}

/* Hero tablet */
@media (max-width: 960px){
    
    .hero__content{
        max-width: 900px;
        margin: auto;
        padding: 24px;
        flex-direction: column;
    }
    .hero__text{
        margin-top: 40%;
    }
    .bottoni{
        margin-top: 40%;
    }
    

}
/* Hero mobile */
@media (max-width: 768px) {

    .hero{
        height: 100vh;
    }
    .hero__video{
        height: 100vh;
    }    
    .hero__content{
        max-width: 366px;
        margin: auto;
        padding: 12px;
        flex-direction: column;
    }
    .hero__text h1{
        margin-bottom: 12px;
    }    
    .hero__text{
        margin-top: 30vh;
    }    
    .bottoni{
        margin-top: 50%;
    }    
    .btn{
        max-width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }  
   
}